body {
    // background-color: #C9BABA;
    font-family: 'Fira Sans';
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: #7A777A;
}


.data {
    text-align: center;
}

.data-name {
    font-weight: bold;
}
// Nonmetal
.nonmetal {
    // font-family: 'Arial';
    background-color: #F7F6B6;
}

// Noble Gas
.noble-gas {
    background-color: #F7E0B6;
}

// Alkali Metal
.alkali-metal {
    background-color: #F7B6B6;
}

// Alkaline Earth Metal
.alkaline-earth-metal {
    background-color: #F7C8B6;
}

//Metalloid
.metalloid {
    background-color: #BBF7B6;
}

.halogen {
    background-color: #ECF7B6;
}

.post-transition-metal {
    background-color: #B6F7D5;
}

.transition-metal {
    background-color: #B6DEF7;
}

.lanthanide {
    background-color: #E8B6F7;
}

.actinide {
    background-color: #CAB6F7;
}

.atomic-number {
    font-size: 1px;
}


.axis path,
.axis line {
    fill: none;
	// stroke: #E3A2A2;
	stroke: #C0DDB6;
	shape-rendering: crispEdges;
}

.axis {
    color: #A9CCE3;
    font: 10px Oxygen;
}

td {
    border-radius: 5%;
    text-align: center;
}

button {
    font-family: Oxygen;
}

fa fa-github {
    font-size: 10px;
}

.table-data {
    display: block;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}