

#el1, #el2 {
    font-family: 'Arial';
    font: white;
    background-color: red;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}