
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}

#el1, #el2 {
    // font-family: 'Arial';
    font: white;
    background-color: #DAF7A6;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

td {
    // border-radius: 25%;git 
    text-align: center;
}
