

h1 {
    font-family: 'Orbitron', sans-serif;
    // font-weight: bold;
    color: black;
}

body {
    // background-color: #C9BABA;
    font-family: 'Oxygen';
}

// Nonmetal
.nonmetal {
    // font-family: 'Arial';
    background-color: yellow;
}

// Noble Gas
.noble-gas {
    background-color: orange;
}

// Alkali Metal
.alkali-metal {
    background-color: red;
}

// Alkaline Earth Metal
.alkaline-earth-metal {
    background-color: purple;
}

//Metalloid
.metalloid {
    background-color: green;
}

.halogen {
    background-color: lightyellow;
}

.post-transition-metal {
    background-color: lightgreen;
}

.transition-metal {
    background-color: lightblue;
}

.lanthanide {
    background-color: cyan;
}

.actinide {
    background-color: turquoise;
}


.axis path,
.axis line {
    fill: none;
	// stroke: #E3A2A2;
	stroke: #C0DDB6;
	shape-rendering: crispEdges;
}

.axis {
    color: #A9CCE3;
    font: 10px Oxygen;
}

td {
    // border-radius: 25%;
    text-align: center;
}

button {
    font-family: Oxygen;
}